/target
.DS_Store
/uploads/restricted/avatar/*
/uploads/restricted/productLogo/*
/uploads/restricted/productImage/*
/uploads/public/productLogo/*
/uploads/public/productImage/*
/uploads/public/categoryListImage/*
