/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-ago-2018, 15.57.13
    Author     : giulia
*/

.card-img-top{
	width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 0px 0px 8px 0px #757575;
	margin-bottom: 20px;
}
.new-list-card{
	max-width: 500px;	
	margin: 100px auto;
}
.info-list-card{
	max-width: 1000px;	
	margin: 100px auto;
}
.img-cat-list{
	height: 200px;
	margin: auto;
}
@media (max-width: 767.98px) {
	.img-cat-list{
		height: 100px;
	}
}