.autocomplete-li:last-of-type {
    border: 0px;
    padding: .25rem 0 0 .5rem;
}

.autocomplete-li:first-of-type {
    padding: 0 0 .25rem .5rem;
}

.autocomplete-li {
    padding-left: .5rem;
}

.chat {
    display: none;
    position: absolute;
    z-index: 100000;
    right: 0;
}

.show-chat {
    display: block;
}

.chat .card,
.chat .card .card-body {
    height: 100%;
}

#list {
    min-height: 30rem;
	max-height: 60rem;
}

.message-r {
    float: left;
    max-width: 70%;
    min-width: 51%;
}

.message-s {
    float: right;
    max-width: 70%;
    min-width: 51%;
}

.messages-container {
    width: 100%;
    height: 95%;
    padding-bottom: 5%;
    overflow: auto;
}