<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<filter>
		<filter-name>RootFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.RootFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.AuthenticationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AdministrationFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.AdministrationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.UserFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UploadFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.UploadFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ListViewFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.ListViewFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ListDeleteFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.ListDeleteFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ListProductFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.ListProductFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ListEditFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.ListEditFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RootFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/restricted/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AdministrationFilter</filter-name>
		<url-pattern>/restricted/admin/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UploadFilter</filter-name>
		<url-pattern>/uploads/restricted/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/restricted/HomePageLogin/*</url-pattern>
		<url-pattern>/restricted/messages/*</url-pattern>
		<url-pattern>/restricted/notifications/*</url-pattern>
		<url-pattern>/restricted/InfoList/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ListViewFilter</filter-name>
		<url-pattern>/restricted/HomePageLogin/*</url-pattern>
		<url-pattern>/restricted/InfoList/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ListDeleteFilter</filter-name>
		<servlet-name>DeleteListServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ListProductFilter</filter-name>
		<servlet-name>HomePageLogin</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ListEditFilter</filter-name>
		<servlet-name>EditListServlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<listener>
		<description>ServletContextListener</description>
		<listener-class>it.unitn.webprog2018.ueb.shoppinglist.listeners.DBListener</listener-class>
	</listener>
	<listener>
		<description>ServletContextListener that initializes the timer that cleans the 
			database from unused expired authentication tokens</description>
		<listener-class>it.unitn.webprog2018.ueb.shoppinglist.listeners.TokenListener</listener-class>
	</listener>
	<listener>
		<description>ServletContextListener that initializes the upload path attribute to 
			make it portable from one system to the other</description>
		<listener-class>it.unitn.webprog2018.ueb.shoppinglist.listeners.PathSetter</listener-class>
	</listener>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
