<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<!--
	<context-param>
		<param-name>uploadFolder</param-name>
		<param-value>...../ShoppingList/uploads</param-value>
	</context-param>
	-->
	<filter>
		<filter-name>RootFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.RootFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.AuthenticationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>AdministrationFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.AdministrationFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UserFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.UserFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UploadFilter</filter-name>
		<filter-class>it.unitn.webprog2018.ueb.shoppinglist.filters.UploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RootFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/restricted/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>AdministrationFilter</filter-name>
		<url-pattern>/restricted/admin/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>UploadFilter</filter-name>
		<url-pattern>/uploads/restricted/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>UserFilter</filter-name>
		<url-pattern>/restricted/HomePageLogin/*</url-pattern>
		<url-pattern>/services/lists/restricted/*</url-pattern>
		<url-pattern>/services/geolocation/restricted/*</url-pattern>
		<url-pattern>/services/products/restricted/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<listener>
		<description>ServletContextListener</description>
		<listener-class>it.unitn.webprog2018.ueb.shoppinglist.listeners.DBListener</listener-class>
	</listener>
	<listener>
		<description>ServletContextListener that initializes the timer that cleans the 
			database from unused expired authentication tokens</description>
		<listener-class>it.unitn.webprog2018.ueb.shoppinglist.listeners.DBCleaningListener</listener-class>
	</listener>
	<listener>
		<description>ServletContextListener that initializes the upload path attribute to 
			make it portable from one system to the other</description>
		<listener-class>it.unitn.webprog2018.ueb.shoppinglist.listeners.PathSetter</listener-class>
	</listener>
	<servlet>
		<servlet-name>EditListServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.list.EditListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfoListServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.list.InfoListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewPersonalListServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.list.NewPersonalListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewSharedListServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.list.NewSharedListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditProductServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.product.EditProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfoProductServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.product.InfoProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewProductServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.product.NewProductServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>HomePageLoginServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.HomePageLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryListServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.ListCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ProductListServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.ProductListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CategoryProductServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.ProductsCategoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AvatarServlet</servlet-name>
		<servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.uploads.UploadsServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>NewPublicProductServlet</servlet-name>
        <servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.NewPublicProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPublicProduct</servlet-name>
        <servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.EditPublicProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePublicProductServlet</servlet-name>
        <servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.DeletePublicProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewProductsCategoryServlet</servlet-name>
        <servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.NewProductsCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductsCategoryServlet</servlet-name>
        <servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.DeleteProductsCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductsCategoryServlet</servlet-name>
        <servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.EditProductsCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteListCategoryServlet</servlet-name>
        <servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.DeleteListCategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewListsCategoryServlet</servlet-name>
        <servlet-class>it.unitn.webprog2018.ueb.shoppinglist.servlets.admin.NewListsCategoryServlet</servlet-class>
    </servlet>
	<servlet-mapping>
		<servlet-name>EditListServlet</servlet-name>
		<url-pattern>/restricted/permission/EditList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoListServlet</servlet-name>
		<url-pattern>/restricted/InfoList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewPersonalListServlet</servlet-name>
		<url-pattern>/restricted/NewPersonalList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewSharedListServlet</servlet-name>
		<url-pattern>/restricted/NewSharedList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProductServlet</servlet-name>
		<url-pattern>/restricted/permission/EditProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoProductServlet</servlet-name>
		<url-pattern>/restricted/InfoProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewProductServlet</servlet-name>
		<url-pattern>/restricted/NewProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HomePageLoginServlet</servlet-name>
		<url-pattern>/restricted/HomePageLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryListServlet</servlet-name>
		<url-pattern>/restricted/admin/ListCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProductListServlet</servlet-name>
		<url-pattern>/restricted/admin/ProductList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CategoryProductServlet</servlet-name>
		<url-pattern>/restricted/admin/ProductsCategory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>NewPublicProductServlet</servlet-name>
        <url-pattern>/restricted/admin/NewPublicProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPublicProduct</servlet-name>
        <url-pattern>/restricted/admin/EditPublicProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePublicProductServlet</servlet-name>
        <url-pattern>/restricted/admin/DeletePublicProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewProductsCategoryServlet</servlet-name>
        <url-pattern>/restricted/admin/NewProductsCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductsCategoryServlet</servlet-name>
        <url-pattern>/restricted/admin/DeleteProductsCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductsCategoryServlet</servlet-name>
        <url-pattern>/restricted/admin/EditProductsCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteListCategoryServlet</servlet-name>
        <url-pattern>/restricted/admin/DeleteListCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewListsCategoryServlet</servlet-name>
        <url-pattern>/restricted/admin/NewListsCategory</url-pattern>
    </servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
